/* line 24, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

/* line 32, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #444444;
  font-family: 'Open Sans', sans-serif; }

/* line 39, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
a {
  text-decoration: none;
  color: #444444;
  font-weight: 400; }

/* line 45, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
.emphasis {
  color: #D3D4AA; }

/* line 49, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
.red {
  color: #901808; }

/* line 53, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
.white {
  color: #fff; }

/* line 57, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
.test {
  width: 60px;
  height: 60px; }

/* line 77, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
.button {
  width: 95vw;
  padding: 5px 10px;
  color: #D3D4AA;
  text-transform: uppercase;
  border: 1px solid #D3D4AA;
  transition: all 0.5s ease-in-out; }
  /* line 86, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  .button:hover {
    color: #fff;
    background-color: #D3D4AA; }

/* line 92, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
section.landing {
  margin: 0;
  padding: 0;
  min-height: 325px;
  height: 90vh;
  max-height: 90vh;
  width: 100vw;
  background: url(../img/path.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center; }
  /* line 108, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.landing h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.8em;
    letter-spacing: 0.2em;
    position: relative;
    top: 45%; }
  /* line 122, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.landing h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #E7E9D1;
    position: relative;
    top: 50%; }

/* line 133, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
div.remainder {
  margin: 0;
  padding: 0;
  min-height: 10vh;
  max-height: 10vh;
  width: 100vw; }
  /* line 141, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  div.remainder .continue {
    margin-top: 2.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #E7E9D1; }
    /* line 154, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    div.remainder .continue.before, div.remainder .continue.after {
      content: "—";
      color: #E7E9D1; }

/* line 161, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
div.animated-divider {
  width: 100vw;
  height: auto;
  padding: 0;
  text-align: center; }
  /* line 167, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  div.animated-divider .container {
    width: 50vw;
    margin: 0 auto;
    line-height: 1.8; }
    /* line 172, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    div.animated-divider .container div {
      display: inline-block;
      margin: 0 20px; }
    /* line 177, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    div.animated-divider .container .circle {
      width: 10px;
      height: 10px;
      background: #D3D4AA;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }

/* line 188, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
section.nutshell {
  text-align: center;
  color: #444444;
  padding-bottom: 40px;
  line-height: 1.8; }
  /* line 195, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.nutshell h3 {
    font-size: 2.4em; }
  /* line 199, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.nutshell p {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    font-size: 1.2em; }
  /* line 207, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.nutshell div {
    margin: 0 auto;
    width: 40%; }

/* line 213, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
section.platforms {
  margin: 0;
  padding: 20px 0;
  width: 100vw;
  height: auto;
  overflow: auto;
  background-color: #FCFAE6;
  display: table; }
  /* line 224, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.platforms .container {
    margin: 0;
    padding: 0;
    display: table-row;
    width: 50vw;
    text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines; }
    /* line 234, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.platforms .container:after {
      content: '';
      width: 100%;
      display: inline-block;
      font-size: 0;
      line-height: 0; }
    /* line 242, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.platforms .container div {
      text-align: center;
      width: 250px;
      padding: 5px 5vw;
      height: auto;
      vertical-align: top;
      display: inline-block; }

/* line 253, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
section.personality {
  padding: 120px 0;
  width: 100vw;
  height: auto;
  text-align: center;
  background: url(../img/rocks-and-water.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 265, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.personality h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    width: 100%; }
  /* line 274, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.personality span {
    font-family: 'Raleway', sans-serif; }

/* line 279, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
div.work-prelude {
  width: 100vw;
  height: auto;
  padding: 20px 0;
  background-color: #D3D4AA;
  text-align: center;
  font-size: 1.8em; }
  /* line 288, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  div.work-prelude h4 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em; }

/* line 294, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
section.work {
  width: 100vw;
  height: auto;
  text-align: center; }
  /* line 299, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.work .container {
    width: 50vw;
    margin: 0 auto; }
    /* line 303, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.work .container ul {
      list-style-type: none;
      padding: 0; }
    /* line 308, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.work .container li {
      margin-bottom: 20px; }
      /* line 311, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
      section.work .container li a {
        color: #D3D4AA; }

/* line 318, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
div.cta {
  width: 100vw;
  height: auto;
  padding: 20px 0;
  background-color: #444444;
  text-align: center;
  font-size: 2.4em; }
  /* line 326, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  div.cta h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #FCFAE6; }

/* line 334, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
section.contact {
  width: 100vw;
  height: auto;
  padding: 40px 0;
  text-align: center; }
  /* line 340, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.contact .container {
    width: 50vw;
    margin: 0 auto;
    line-height: 1.8; }
    /* line 345, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.contact .container h4 {
      font-size: 1.8em; }
    /* line 349, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.contact .container h5 {
      font-size: 1.2em; }
    /* line 353, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.contact .container .divider {
      padding: 20px 0; }
    /* line 357, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.contact .container .divider div {
      display: inline-block; }
    /* line 361, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.contact .container .triangle {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid #D3D4AA; }

/* line 371, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
section.closing {
  text-align: center;
  background-color: #444444; }
  /* line 375, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.closing .links {
    position: relative;
    bottom: 0;
    padding: 20px 0; }
    /* line 380, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
    section.closing .links .link {
      padding: 0 22px;
      color: #FCFAE6; }
  /* line 386, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.closing h5, section.closing h6 {
    color: #fff;
    font-weight: 300; }
  /* line 391, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.closing h6 {
    padding: 20px 0; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* For the landing */
@media only screen and (max-width: 835px) {
  /* line 409, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.landing h1 {
    top: 30%; }
 }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* line 418, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.nutshell p {
    width: 95vw; }

  /* line 424, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.work .container {
    width: 95vw; }

  /* line 429, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  div.cta {
    font-size: 1.8em; }
 }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* line 437, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.landing h1 {
    font-size: 3.6em; }
 }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* line 446, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.landing h1 {
    font-size: 2.4em; }
 }

/* iPhone6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  /* line 456, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.landing {
    background: url(../img/path_iphone.jpeg) no-repeat center center fixed; }

  /* line 460, /Users/lawrencehumphrey/Dev/newsite/css/styles.scss */
  section.personality {
    background: url(../img/rocks-and-water.jpg) no-repeat center center fixed; }
 }

/*# sourceMappingURL=styles.css.map */