@import 'jeet/index';

$color-white: #fff;
$color-light: #FCFAE6;
$color-medium: #E7E9D1;
$color-medium_darker: #D3D4AA;
$color-stone: #444444;
$color-red: #901808;

$font-size-xxl: 4.8em;
$font-size-xl: 3.6em;
$font-size-lg: 2.4em;
$font-size-md: 1.8em;
$font-size-sm: 1.2em;

$width-std: 50vw;
$width-wide: 92.5vw;

$padding-sm: 20px;
$padding-lg: 40px;
$padding-xl: 80px;

$letter-spacing: 0.2em;
$line-height: 1.8;

html, body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: $color-stone;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: $color-stone;
    font-weight: 400;
}

.emphasis {
    color: $color-medium_darker;
}

.red {
    color: $color-red;
}

.white {
    color: $color-white;
}

.test {
    width: 60px;
    height: 60px;
}

.button {
    padding: 20px 40px;
    color: $color-white;
    text-transform: uppercase;
    border: 4px solid $color-white;
    
    transition: all 0.4s ease-in-out;
    
    &:hover {
        // color: $color-medium_darker;
        // border-color: $color-medium_darker;
    }
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid $color-medium;
}

.rot-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid $color-medium;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

section.landing {
    margin: 0;
    padding: 0;
    min-height: 550px;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    
    background: url(../img/path.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    text-align: center;
    
    h1 {
        margin: 0;
        padding: 0;
        
        color: $color-white;
        
        font-family: 'Open Sans', sans-serif;
        font-size: $font-size-xxl;
        letter-spacing: $letter-spacing;
        
        position: relative;
        top: 35vh;
        // top: 35%;
    }
    
    h3 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        
        color: $color-medium;
        position: relative;
        top: 45vh;
        // top: 45%;
    }

    > div {
        position: relative;
        top: 40vh;
        // top: 40%;
    }

    .links {
        position: relative;
        top: 60vh;
        // top: 60%;
    }

    .anchor { color: $color-white; position: relative; top: 80px;}
}

section.nutshell {
    overflow-x: hidden;
    text-align: center;
    color: $color-stone;
    padding: 1.4*$padding-lg 0;
    line-height: $line-height;
    
    h3 {
        font-size: $font-size-lg;    
    }

    h4 {
        font-size: $font-size-sm;
    }
    
    p {
        margin: 0 auto;
        width: $width-wide;
        max-width: 800px;
        font-size: $font-size-sm;    
    }
    
    .personality {
        margin-bottom: 40px;
    }

    div {
        margin: 0 auto;
        width: 40%;    
    }

    .platforms {
        @include cf();
        @include center(1000px);
        padding: 40px 0;
        
        color: #111;
    }

    .container {
        @include col(1/4, $cycle: 4);

        text-align: center;

        i {
            text-shadow: none;
            font-size: 4rem;
        }
    }

    @media only screen and (max-width: 500px) {
        .platforms { display: none; }
        .container {
            @include col(1/2, $uncycle: 4, $cycle: 2);

            margin-bottom: 60px;
        }
    }

    .additional {
        margin-top: 20px;
    }
}

div.work-prelude {
    width: 100vw;
    padding: $padding-xl 0;
    background-color: $color-medium;
    text-align: center;

    font-size: $font-size-md;
    
    h4 {
        font-family: 'Raleway', sans-serif;
        letter-spacing: $letter-spacing;
    }

    .darker { border-top: 20px solid $color-medium_darker; }
}

section.work {
    width: 100vw;
    text-align: center;

    h5 {
        font-size: 3rem;
    }

    .grid {
        @include cf();
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            @include span(1/3);

            @media only screen and (max-width: 1200px) {
                @include span(1/2);
            }

            @media only screen and (max-width: 800px) {
                @include stack();

                &:nth-of-type(3) ~ li {
                    display: none;
                }
            }
        }

        img {
            width: 100%;
        }
    }
}

div.cta {
    width: 100vw;
    height: auto;
    padding: 1.2*$padding-lg 0;
    background-color: $color-stone;
    text-align: center;
    font-size: $font-size-lg;
    
    h3 {
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 300;
        color: $color-light;
    }
}

section.contact {
    width: 100vw;
    height: auto;
    padding: $padding-xl 0;
    text-align: center;
        
    .container {
        min-width: $width-std;
        margin: 0 auto;
        line-height: $line-height;
        
        h3 {
            font-size: $font-size-lg;
        }
        
        h4 {
            font-size: 1.2*$font-size-sm;  
            padding-bottom: 10px;  
        }
        
        > div {
            padding: $padding-sm;
        }

        p {
            margin: 0 auto;
            max-width: 380px;
        }
    }

    > a {
        font-size: $font-size-md;
        color: $color-medium;
        border-bottom: 5px solid $color-medium;
    }

    .links {
        margin-top: $padding-lg;
        @include cf();
        @include center(600px);
    }

    .link {
        @include col(1/5, $cycle: 5);
    }
}

section.closing {
    position: relative;
    height: 200px;
    text-align: center;
    background: url(../img/rocks-and-water.jpg) no-repeat top center / 1200px 300px; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    

    h5, h6 {
        color: $color-white;
        font-weight: 300;
    }
    
    h6 { padding: $padding-sm 0; }

    div { 
        position: absolute; top: 60%; left: 50%; margin: 0 auto; 
        -webkit-transform: translate(-50%, -50%);
        -mos-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

figure {
    margin: 0;
    position: relative;
    min-width: 320px;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    // cursor: pointer;

    img {
        position: relative;
        display: block;
        height: auto;
        width: 100%;
        opacity: 0.8;
    }

    figcaption {
        color: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    figcaption::before,
    figcaption::after {
        pointer-events: none;
    }

    figcaption,
    figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Anchor will cover the whole item by default */
    figcaption > a {
        z-index: 1;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    h5 {
        word-spacing: -0.15em;
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
        text-transform: uppercase;
    }

    p {
        letter-spacing: 1px;
        margin: 0;
        padding: 0 20px;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
    }
}

.effect-sadie { 
    figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
        content: '';
        opacity: 0;
        transform: translate3d(0,50%,0);
    }

    h5 {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;

        opacity: 0;

        transition: transform 0.35s, color 0.35s, opacity 0.35s;
        transform: translate3d(0,-50%,0);
    }

    figcaption::before, p {
        transition: opacity 0.35s, transform 0.35s;
    }

    p {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-bottom: 3rem ;
        // min-width: 380px;
        opacity: 0;
        transform: translate3d(0,10px,0);
    }

    &:hover, &.hover {
        h5 {
            // color: #fff;
            opacity: 1;
            transform: translate3d(0,-50%,0) translate3d(0,-10px,0);
        }

        figcaption::before, p {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
    }
}

/* For the landing */
@media only screen and (max-width : 835px) {
    section.landing {
        min-height: 900px;
        h1 { top: 25%; }
        > div { top: 30%; }
        h3 { top: 35%; }
        .links { top: 50% }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    section.nutshell {
        p { width: $width-wide; }
    }    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    section.landing {
        h1 { font-size: $font-size-xl; }
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    section.landing {
        h1 { font-size: $font-size-md; }
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    section.landing {
        min-height: 100vh;
        h1 { font-size: $font-size-md; top: 18%;}
        > div { top: 23%; }
        h3 { top: 28%; }
        .links { top: 50% }
        a:first-of-type { padding: 15px 30px; }

        .triangle { 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid $color-medium;
        }
        .rot-triangle { 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid $color-medium;
        }
    }

    section.contact { p { max-width: 95vw; } }
}