$dark-primary-color	: #455A64;
$primary-color		  : #607D8B;
$light-primary-color: #CFD8DC;
$white 				      : #fff;
$accent-color		    : #FF5252;
$accent-color-hover : #E54A4A;
$primary-text		    : #212121;
$secondary-text		  : #727272;
$divider-color		  : #B6B6B6;

$max-width: 50rem;
